<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/55d762cf-7c1b-4f06-9df7-f5a9320bda92/resourcegroups/myResourceGroup/providers/Microsoft.Web/sites/RonSwansonQuotes</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ronswansonquotes.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ronswansonquotes.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RonSwansonQuotes</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RonSwansonQuotes</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RonSwansonQuotes_dbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=ronswansonquotesdbserver.database.windows.net;Initial Catalog=RonSwansonQuotes_db;User ID=sqladmin;Password=swansonDB!;Application Name=EntityFramework" Name="Data Source=ronswansonquotesdbserver.database.windows.net;Initial Catalog=RonSwansonQuotes_db;User ID=sqladmin;Password=swansonDB!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RonSwanson_Quotes.RonSwansonQuotes_dbEntities, RonSwanson_Quotes" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="RonSwansonQuotes_dbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/RatingsModel.csdl|res://*/RatingsModel.ssdl|res://*/RatingsModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ronswansonquotesdbserver.database.windows.net;Initial Catalog=RonSwansonQuotes_db;User ID=sqladmin;Password=swansonDB!;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>